Client/Resmed.Stock.ClientService/Service References/ResmedStockServiceProxy/StockService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resmed.Stock.Common.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resmed.Stock.Common.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStockFileViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockFileViewModel" nillable="true" type="tns:StockFileViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockFileViewModel" nillable="true" type="tns:ArrayOfStockFileViewModel" />
  <xs:complexType name="StockFileViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DownloadedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="StockId" type="xs:int" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockFileViewModel" nillable="true" type="tns:StockFileViewModel" />
</xs:schema>