Client/Resmed.Stock.ClientService/Service References/ResmedStockServiceProxy/StockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ResmedStockService/StockService/StockService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/ResmedStockService/StockService/StockService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost/ResmedStockService/StockService/StockService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Resmed.Stock.Common.ViewModel" />
  <xs:element name="GetAllSymbols">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSymbolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllSymbolsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllSitesResult" nillable="true" type="q2:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbols">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSymbolsResult" nillable="true" type="q3:ArrayOfStockSymbol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStockFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StockId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStockFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Resmed.Stock.Common.ViewModel" minOccurs="0" name="GetAllStockFilesResult" nillable="true" type="q4:ArrayOfStockFileViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StockFileId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Resmed.Stock.Common.ViewModel" minOccurs="0" name="GetStockFileResult" nillable="true" type="q5:StockFileViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractStockFilesFromSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractStockFilesFromSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExtractStockFilesFromSitesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllStockFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllStockFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAllStockFilesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>